<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>sarvgyan</title>
  <link rel="icon" href="/logo.png" type="image/png">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css" />
</head>

<body>
  <div id="header"></div>
  <div class="container">
    <h1 class="typewriter">WELCOME TO SARVGYAN!</h1>
    <p class="fade-in"><b>Your ultimate destination for free educational resources. Explore our vast collection of
        materials to boost your knowledge and skills</b></p>
    <a href="http://localhost:8080/posts/main">Let's start</a>
  </div>

  <div class="blank"></div>

  <div class="container second">
    <div class="item">
      <div class="img img-first"></div>
      <div class="card">
        <h3>AI</h3>
        <p>Check out our collection of free AI resources with links to tutorials, courses, and tools. These resources
          cover various AI topics and are perfect for learning and applying new skills.
        </p><br>
        <a href="/posts/main">Learn more</a>
      </div>
    </div>
    <div class="item">
      <div class="img img-second"></div>
      <div class="card">
        <h3>Discover Free Learning Resources on YouTube</h3>
        <p>
          Explore a wealth of free educational content available on YouTube! Whether you're looking to learn a new
          skill, dive into a specific topic, or enhance your knowledge</p>
        <a href="/posts/youtube">Learn more</a>
      </div>
    </div>
    <div class="item">
      <div class="img img-third"></div>
      <div class="card">
        <h3>Websites</h3>
        <p>
          Explore links to free resources, including comprehensive tutorials, interactive courses, and useful tools, designed to support your learning and enhance your projects
        </p><br>
        <a href="/posts/web">Learn more</a>
      </div>
    </div>
  </div>

  <div class="blank2"></div>
  <script>
    window.addEventListener('load', () => {
      document.body.classList.add('loaded');
    });    
  </script>
</body>

</html>

