<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sarvgyan</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="/main.css" rel="stylesheet" />
</head>

<body>
    <div class="row">
        <h1>AI FOR IMAGE & VIDEO EDITING</h1>
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="https://lumen5.com/"> <img
                                src="https://images.saasworthy.com/lumen_1572_logo_1702538920_wcqfb.jpg" alt="Lumen5"
                                style="width: 30px; height: 30px; vertical-align: middle; margin-right: 8px; border-radius: 10px; "></a>

                        Lumen5
                    </h5>
                    <p class="card-text">An AI-powered video creation tool that turns text into engaging videos using
                        AI.</p>
                    <a href="https://lumen5.com/" class="btn btn-primary btn-custom">Take me to site</a>
                </div>

            </div>
        </div>
        <div class="col-sm-6 mb-3  mb-sm-0">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="https://www.deeparteffects.com/"> <img
                                src="https://pbs.twimg.com/profile_images/762050402225360901/_0gVZbok_400x400.jpg"
                                alt="logo"
                                style="width: 30px; height: 30px; vertical-align: middle; margin-right: 8px; border-radius: 10px; "></a>
                        DeepArt
                    </h5>
                    <p class="card-text">Uses neural networks to turn photos into artwork by mimicking the style of
                        famous artists.</p>
                    <a href="https://www.deeparteffects.com/" class="btn btn-primary btn-custom">Take me to site</a>
                </div>

            </div>
        </div>
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="https://runwayml.com/"> <img
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQsKM-rz_b9hS4Dv8B71pDaD2Yu-7IZEKuQjg&s"
                            alt="logo"
                            style="width: 30px; height: 30px; vertical-align: middle; margin-right: 8px; border-radius: 10px; "></a>
                        RunWay ML
                    </h5>
                    <p class="card-text">Offers various AI tools for creative projects, including video editing, image
                        generation, and more.
                        AI.</p>
                    <a href="https://runwayml.com/" class="btn btn-primary btn-custom">Take me to site</a>
                </div>

            </div>
        </div>
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="https://animoto.com/"> <img
                            src="https://techcrunch.com/wp-content/uploads/2013/06/animoto.png"
                            alt="logo"
                            style="width: 30px; height: 30px; vertical-align: middle; margin-right: 8px; border-radius: 10px; "></a>
                        Animoto
                    </h5>
                    <p class="card-text">A video creation tool that uses AI to turn your photos and video clips into professional video slideshows.
                        AI.</p>
                    <a href="https://animoto.com/" class="btn btn-primary btn-custom">Take me to site</a>
                </div>

            </div>
        </div>
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="https://invideo.io/"> <img
                            src="https://play-lh.googleusercontent.com/yLRAfT56QBPWq0ZJVzUg3dvusgqxo3L6R0hiHNRtjmxOhbBzBx1F2oCYlgQFd5_5-uA"
                            alt="logo"
                            style="width: 30px; height: 30px; vertical-align: middle; margin-right: 8px; border-radius: 10px; "></a>
                        InVideo
                    </h5>
                    <p class="card-text"> An AI-driven video editor that helps you create professional videos with ease.</p>
                    <a href="https://invideo.io/" class="btn btn-primary btn-custom">Take me to site</a>
                </div>

            </div>
        </div>
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="https://rocketium.com/"> <img
                            src="https://upload.wikimedia.org/wikipedia/commons/8/8d/Rocketium_Logo_2023.png"
                            alt="logo"
                            style="width: 30px; height: 30px; vertical-align: middle; margin-right: 8px; border-radius: 10px; "></a>
                        Rocketium
                    </h5>
                    <p class="card-text">An AI-powered video creation tool for marketers and publishers to create videos at scale.
                        </p>
                    <a href="https://rocketium.com/" class="btn btn-primary btn-custom">Take me to site</a>
                </div>

            </div>
        </div>
    </div>
    <!-- second categories  -->
     <div class="row">
        <h1>AI FOR COMPUTER LANGUAGES</h1>
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="https://codecademy.com/"> <img
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRApoTdpIlPJGRIK_fndtJ_H3eDTjhTNnujdw&s" alt="Lumen5"
                                style="width: 30px; height: 30px; vertical-align: middle; margin-right: 8px; border-radius: 10px; "></a>

                        Codecademy
                    </h5>
                    <p class="card-text">Offers interactive coding lessons for various programming languages including Python, JavaScript, and more..</p>
                    <a href="https://codecademy.com/" class="btn btn-primary btn-custom">Take me to site</a>
                </div>

            </div>
        </div>
        <div class="col-sm-6 mb-3  mb-sm-0">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="https://www.khanacademy.org/"> <img
                                src="https://yt3.googleusercontent.com/ytc/AIdro_l3GggKOWViCBpDs9APIsK6MHB2Mu-ECo5dUEU-Vay2gg=s900-c-k-c0x00ffffff-no-rj"
                                alt="logo"
                                style="width: 30px; height: 30px; vertical-align: middle; margin-right: 8px; border-radius: 10px; "></a>
                        Khan Academy
                    </h5>
                    <p class="card-text">An educational platform with a wide range of computer science courses and interactive exercises.</p>
                    <a href="https://www.khanacademy.org/" class="btn btn-primary btn-custom">Take me to site</a>
                </div>

            </div>
        </div>
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="https://www.datacamp.com/"> <img
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKxQkXjjNm6eiqj5o2mTiImr7Dd8NmWbggSw&s"
                            alt="logo"
                            style="width: 30px; height: 30px; vertical-align: middle; margin-right: 8px; border-radius: 10px; "></a>
                        DataCamp
                    </h5>
                    <p class="card-text">Focuses on data science and analytics with courses on Python, R, SQL, and more, using AI to personalize learning paths.</p>
                    <a href="https://www.datacamp.com/" class="btn btn-primary btn-custom">Take me to site</a>
                </div>

            </div>
        </div>
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="https://W3Schools.com/"> <img
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4h4yf5vhuu8_Dqf5VC1l1tFbIJ88N4H24jg&s"
                            alt="logo"
                            style="width: 30px; height: 30px; vertical-align: middle; margin-right: 8px; border-radius: 10px; "></a>
                        Leetcode
                    </h5>
                    <p class="card-text">A platform for practicing coding and preparing for technical interviews with AI-generated problem recommendations based on your progress.
                        AI.</p>
                    <a href="https://w3schools.com/" class="btn btn-primary btn-custom">Take me to site</a>
                </div>

            </div>
        </div>
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="https://invideo.io/"> <img
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRq_fjRVJLHlGB9w7R5zuvuciwZ9zwgGN6-oQ&s"
                            alt="logo"
                            style="width: 30px; height: 30px; vertical-align: middle; margin-right: 8px; border-radius: 10px; "></a>
                        W3Schools
                    </h5>
                    <p class="card-text"> An AI-driven video editor that helps you create professional videos with ease.</p>
                    <a href="https://W3schools.com/" class="btn btn-primary btn-custom">Take me to site</a>
                </div>

            </div>
        </div>
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="https://geeksforgeeks.org/"> <img
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLGnMqhnl05Dsn2sn0kQoq3Ch2TP9ebmmJsA&s"
                            alt="logo"
                            style="width: 30px; height: 30px; vertical-align: middle; margin-right: 8px; border-radius: 10px; "></a>
                            Geeksforgeeks
                    </h5>
                    <p class="card-text">Offers a range of technology and coding courses with AI-driven skill assessments and personalized learning paths.
                        </p>
                    <a href="https://geeksforgeeks.org/" class="btn btn-primary btn-custom">Take me to site</a>
                </div>

            </div>
        </div>
     </div>
   
</body>

</html>
