@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color: #333;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: 'Red Hat Text', sans-serif;
  background-image: url('https://images.unsplash.com/photo-1519120944692-1a8d8cfc107f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.container {
  text-align: center;
  color: var(--color);
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-weight: 700;
  font-size: 3rem;
}

p {
  max-width: 52ch;
  line-height: 1.5;
  padding: 1em;
}

a {
  display: inline-block;
  padding: 1em 3.5em;
  background-color: var(--color);
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0.3em;
  font-weight: 700;
  letter-spacing: .5px;
  font-size: .875rem;
}

.blank,
.blank2 {
  width: 100%;
  background-color: var(--color);
}

.blank {
  min-height: 17vh;
}

.blank2 {
  min-height: 15vh;
}

.second {
  padding: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.6em;
}

h3 {
  font-weight: 700;
  font-size: 1.6rem;
  margin-top: 1em;
}

.card > a {
  margin-bottom: 2em;
}

.item {
  display: flex;
  max-width: 320px;
  background-color: white;
  flex-direction: column;
  align-items: center;
  border-radius: .5em;
  box-shadow: 0px 29px 38px -15px rgba(0, 0, 0, 0.43);
  padding: 1rem;
}

.img {
  width: 100%;
  height: 200px;
  background-color: lightgrey;
  background-size: cover;
  background-position: center;
  margin-top: 20px;
  border-radius: .3em;
}

.img-first {
  background-image: url('https://images.unsplash.com/photo-1674027444484-cf52149ea050?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTA4f');
}

.img-second {
  background-image: url('https://images.unsplash.com/photo-1611162616475-46b635cb6868?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fHlvdXR1YmUlMjBjb25uZWN0aW9uc3xlbnwwfHwwfHx8Mg%3D%3D');
}

.img-third {
  background-image: url('https://i.pinimg.com/474x/5c/04/4d/5c044dfa3ddd5ef809f1c8e473d9bf35.jpg');
}

.typewriter {
  overflow: hidden; /* Ensures the content is hidden until it’s revealed by the animation */
  border-right: .15em solid black; /* Creates the cursor effect */
  white-space: nowrap; /* Prevents the text from wrapping */
  margin: 0 auto; /* Centers the text */
  letter-spacing: .12em; /* Adjusts the spacing between letters */
  animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

/* Typing animation */
@keyframes typing {
  from { width: 0 }
  to { width: 68% }
}

/* Blinking cursor animation
@keyframes blink-caret {
  from, to { border-color: transparent }
  80% { border-color: black; }
} */

.fade-in {
  opacity: 0;
  transition: opacity 3s ease-in-out;
}

body.loaded .fade-in {
  opacity: 1;
}

/* Responsive styles */
@media (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }

  .item {
    max-width: 90%; /* Ensure items don't exceed the container width */
  }

  .second {
    flex-direction: column; /* Stack items vertically on smaller screens */
    align-items: center; /* Center items */
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 1.8rem;
  }

  .typewriter {
    font-size: 1.25rem;
  }

  .item {
    margin: 0.25rem;
    max-width: 100%; /* Ensure items take full width on very small screens */
  }
}




 






















